assets/docs/
HR/uploaded_files/
HR/assets/
HR/application/third_party/
haccap/uploaded_files/
haccap/assets/
haccap/application/third_party/
management/application/third_party/
EOD/application/third_party/